/* 伪类，表示文档根元素，所有主流浏览器均支持 :root 选择器，除了 IE8 及更早的版本,使用var()来引用在:root中声明相当于全局属性 */
:root{
  --main-color:#39A4DC;
}
* { padding: 0; margin: 0; outline:none }
html, body {
  font-family:'Microsoft Yahei', 'Helvetica Neue', Helvetica, 'PingFang SC', 'Hiragino Sans GB', 'WenQuanYi Micro Hei', sans-serif;
  font-size: 14px;
  color:#333333;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  height: 100%;
}
.text-ellipsis {overflow: hidden;white-space: nowrap;text-overflow: ellipsis;}
.clearfix:after {visibility: hidden;display: block;content: "";height: 0;line-height: 0;clear: both;}

.browserhappy{text-align: center;}
.browserhappy p{padding-top:100px;padding-bottom:30px;font-size: 24px}
.browserhappy a {display: inline-block;padding: 10px 20px; border: 1px solid #39A4DC;color:#39A4DC; text-decoration: none; border-radius:5px; }

#app{ overflow-x: hidden }
[v-cloak] { display: none;}

/* 左边 */
.nav-slide-wrap{position: fixed;left:0;top: 0;bottom: 0;width:150px;z-index: 3;background-color: #1D1F20;background-image: linear-gradient(145deg, #1D1F20, #404348);transition: all 0.5s ease-in;box-shadow: rgba(0, 0, 0, .05) 1px 0 3px, rgba(0, 0, 0, .12) 1px 0 1px;}
.nav-slide-closewrap{ left:-200px; transition: all 0.9s ease-out; }
.nav-slide-wrap .menu-section-list{ height:calc(100vh - 130px); overflow-y: scroll; }
.nav-slide-wrap .menu-section-list::-webkit-scrollbar{ display:none; }
.nav-slide-wrap .menu-section-list li{ border-radius:3px;padding-top:8px;padding-bottom:8px; margin-left:10px; margin-right:10px;cursor: pointer;color:#ffffff;text-align: center;overflow: hidden;white-space: nowrap;text-overflow: ellipsis; position: relative;}
.nav-slide-wrap .menu-section-list li.active{ color:var(--main-color); background-color: rgba(255, 255, 255, 0.1); }
.nav-slide-wrap .menu-section-list li:hover{ transition: color 0.3s ease-out; color:var(--main-color); }
.nav-slide-wrap .menu-section-list li .circle { position: absolute; background-color: rgba(255, 255, 255, 0.2); width: 100px; height: 100px; border-radius: 50%; transform: translate(-50%, -50%) scale(0); animation: scale 0.5s ease-out;}
@keyframes scale {
  to { transform: translate(-50%, -50%) scale(3); opacity: 0; }
}
.avtarwrap{ margin-top:15px;margin-bottom: 10px; text-align: center; color:#ffffff; position: relative; }
.avtarwrap::after{ position: absolute; box-sizing: border-box; content: ' '; pointer-events: none; right: 15px; left: 15px; bottom: 0; height:1px; background-color:#ffffff; transform: scaleY(0.5); animation: grow 2s linear infinite; }
@keyframes grow {
  0% {transform: scaleX(0);}
}
.avtarwrap .avtar{ display: inline-block; width: 50px; height: 50px; padding: 1px; border: 3px solid rgba(255,255,255,.5); border-radius: 100%; box-shadow: inset 1px 1px 4px rgba(0,0,0,.3), 0 2px 3px rgba(0,0,0,.4); transition: transform 1s ease-out; cursor: pointer; }
.avtarwrap .avtar:hover{ transform: rotateZ(360deg); }
.avtarwrap .username{ 
  padding-top:5px; padding-bottom:10px; font-size:16px; 
  text-shadow: 1px 1px 4px rgb(0 0 0 / 30%), 0 2px 3px rgb(0 0 0 / 40%); 
  position: relative;
}
.avtarwrap .username::after{
  content: attr(data-content);
  position: absolute;
  left:0;
  right:0;
  top:5px;
  color: var(--main-color);
  /* 创建一个只有元素的部分区域可以显示的"剪切区域"。区域内的部分显示，区域外的隐藏。 */
  clip-path:ellipse(16px 16px at 0% 50%);
  animation: spotlight 3s ease-in infinite;
}
@keyframes spotlight {
  50%{
    clip-path:ellipse(16px 16px at 100% 50%);
  }
  100%{
    clip-path:ellipse(16px 16px at 0% 50%);
  }
}
.nav-slide-backdrop{ position: fixed; top: 0; right: 0; bottom: 0; left: 0; background: rgba(0,0,0,.5); transition: opacity .5s; z-index:2; }
/* 左边-end */

/* 右边 */
.nav-content-wrap{ margin-left:150px; min-height:100vh; box-sizing: border-box; transition:  all 0.9s ease-in-out; }
.nav-content-closewrap{ margin-left:0;width:100%;transition:  all 0.5s ease-in-out;}
.nav-content-ltME{ margin-left:0; }
.nav-content-wrap .floor-item{ padding:15px 20px;border-top:4px solid #E9EBEC;border-bottom:4px solid #E9EBEC;}
.nav-content-wrap .super-tit{display: inline-block;font-size: 20px;font-style: italic;font-weight: bold;color: var(--main-color); padding-top:10px; padding-bottom:20px; text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.1)}
.nav-content-wrap .super-idx{color: #ccc;font-family:Arial;font-size:25px;}
.nav-content-wrap .second-content{}
.nav-content-wrap .second-tit{font-size:16px;margin-right:5px;font-weight:bold;color:#000000;display: inline-block;min-width:90px;
  text-align: justify;
  text-justify:distribute-all-lines; /* ie */
  text-align-last: justify;
}

/* .nav-content-wrap a{display: inline-block; text-decoration: none; font-size:17px; color: #333333; margin-right:20px;margin-bottom:20px;transition: all 0.3s ease;position: relative; }
.nav-content-wrap a:hover{color:var(--main-color);text-decoration: underline;} */
.nav-content-wrap .second-link{display: inline-block;padding: 5px 0; text-decoration: none; font-size:16px; color: #333333;
  margin-right:20px;margin-bottom:15px;position: relative;
  background-color: var(--main-color);
  background-image: linear-gradient(to right,#54b3d6,var(--main-color) 50%,#000 50%);
  background-size: 200% 100%;
  background-position:-100%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: background 0.3s ease-in-out;
  cursor: pointer;
}
.nav-content-wrap .second-link:hover {background-position: 0; text-shadow: 2px 2px 2px rgba(0,0,0,.2);}
.nav-content-wrap .second-link:before {content: ''; background: var(--main-color);display: block;position: absolute;bottom: -2px;left: 0;width: 0;height: 2px;transition: width 0.3s ease-in-out; }
.nav-content-wrap .second-link:hover::before { width:100%; }
.headertopwrap{height:36px;}
/* justify-content:space-between;  */
.headertop{ position: fixed; left:150px; right:0; top:0; z-index:1; background:#ffffff; display:flex; align-items: center; padding-top:8px; padding-bottom:8px; transition:  all 0.9s ease-in-out; box-shadow: rgba(0, 0, 0, .05) 0 1px 4px, rgba(0, 0, 0, .12) 0 1px 2px; }
.headertop::after{content: '';position: absolute;left:0;right:0;bottom:0;width:100%;height:2px;background-size: 70px;background-image: repeating-linear-gradient(-45deg, #ff6c6c 0, #ff6c6c 20%, transparent 0, transparent 25%, #1989fa 0, #1989fa 45%, transparent 0, transparent 50%);}
.headertopClose{left:0;transition:  all 0.5s ease-in-out;}
.headertop-ltME{ left:0; }
.headertop .iconOprate{margin-left:20px;width:20px;height:20px;display: block;cursor: pointer;flex-shrink: 0;}
.headertop .iconOprate:hover{ opacity:0.8;}
.headertop .des{color:var(--main-color);margin-right:20px;margin-left: 20px;overflow: hidden; white-space: nowrap;text-overflow: ellipsis;}
.headertop .motto{  flex:1; text-align: right; font-weight:600; }
/* 右边-end */

/* 顶部进度条 */
.scrollinebox{background: #ecf0f1;position:absolute;left: 0px;right: 0px;top: 0px;height:2px;}
/* .scrollineinside{background: var(--main-color);background-image: linear-gradient(to right bottom, #00d4d0, #00c9d9, #00bedf, #00b1e0, #39a4dc);height:2px;width:0;transition: width 0.5s ease-in-out; } */
.scrollineinside{
  width:0;height:2px;background: var(--main-color);
  background:linear-gradient( to right, rgba(0, 190, 255,1), rgba(0, 190, 255,1) ),linear-gradient( to right,rgba(0, 212, 208, 1), rgba(255, 0, 180, 1), rgba(57, 164, 220, 1) );
  background-position: 100% 100%, 0 100%;
  background-repeat: no-repeat;
  transition: width 0.5s ease-in-out;
  background-size: 0 2px, 100% 2px; 
}
/* 顶部进度条-end */

/*  tippy tooltip */
.tippy-box[data-animation=shift-away][data-state=hidden] {opacity: 0 }
.tippy-box[data-animation=shift-away][data-state=hidden][data-placement^=top] { transform: translateY(10px) }
.tippy-box[data-animation=shift-away][data-state=hidden][data-placement^=bottom] { transform: translateY(-10px) }
.tippy-box[data-animation=shift-away][data-state=hidden][data-placement^=left] { transform: translateX(10px) }
.tippy-box[data-animation=shift-away][data-state=hidden][data-placement^=right] { transform: translateX(-10px) }
/*  tippy tooltip -end */

/* 返回顶部 -4px 0px / -55px 0px / -111px 0px / -165px 0px / -217px 0px / -268px 0px */
.rocket-to-top{ display: none; cursor: pointer; position: fixed; right:15px; top:85%; width:32px; height:110px; background-position:-4px 0px; background-repeat: no-repeat; background-image:url('../img/rocket_up.png');}
.rocket-to-top:hover{ background-position:-55px 0px;}
.rocket-top-none{ animation: rocketPos 0.5s ease-in-out; }
@keyframes rocketPos {
  50% { top:45%; opacity:0.5; }
  100% { top:-100%;opacity:0; }
}
/* 返回顶部-end */

/* 圆点跟随 */
.dotfollow{ width: 18px; height: 18px; left: -9px; top: -9px; z-index:4; pointer-events:none; background-color: pink; border-radius: 50%; position:fixed; }
/* 圆点跟随-end */

/* 页面圆点动画 */
.dotinitbox{ position: fixed; left:0; top:0; z-index:-1; width:100%; height:100%; overflow: hidden; }
.circle { position: absolute; border-radius: 50%; opacity: 0; z-index:9999}
@keyframes move1 {
  25% { opacity: 1; }
  100% {
    width: 0;
    height: 0;
    opacity: 0;
    -webkit-transform: translateX(349px) translateY(-35px);
    -ms-transform: translateX(-595px) translateY(896px);
    transform: translateX(143px) translateY(615px);
  }
}
.circle:nth-child(1) {
  width: 42px;
  height: 42px;
  left: 32%;
  top: 23%;
  box-shadow: inset 0 0 21px cyan;
  -webkit-animation: move1 6s infinite linear;
  -moz-animation: move1 6s infinite linear;
  -o-animation: move1 6s infinite linear;
  animation: move1 6s infinite linear;
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}

@keyframes move2 {
  25% {
    opacity: 1;
  }
  100% {
    width: 0;
    height: 0;
    opacity: 0;
    -webkit-transform: translateX(-21px) translateY(483px);
    -ms-transform: translateX(957px) translateY(-2px);
    transform: translateX(346px) translateY(-83px);
  }
}
.circle:nth-child(2) {
  width: 94px;
  height: 94px;
  left: 95%;
  top: 62%;
  box-shadow: inset 0 0 47px cyan;
  -webkit-animation: move2 6s infinite linear;
  -moz-animation: move2 6s infinite linear;
  -o-animation: move2 6s infinite linear;
  animation: move2 6s infinite linear;
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s;
}

@keyframes move3 {
  25% {
    opacity: 1;
  }
  100% {
    width: 0;
    height: 0;
    opacity: 0;
    -webkit-transform: translateX(301px) translateY(-5px);
    -ms-transform: translateX(471px) translateY(1222px);
    transform: translateX(734px) translateY(-299px);
  }
}
.circle:nth-child(3) {
  width: 66px;
  height: 66px;
  left: 45%;
  top: 36%;
  box-shadow: inset 0 0 33px cyan;
  -webkit-animation: move3 6s infinite linear;
  -moz-animation: move3 6s infinite linear;
  -o-animation: move3 6s infinite linear;
  animation: move3 6s infinite linear;
  -webkit-animation-delay: 0.6s;
  animation-delay: 0.6s;
}
@keyframes move4 {
  25% {
    opacity: 1;
  }
  100% {
    width: 0;
    height: 0;
    opacity: 0;
    -webkit-transform: translateX(-727px) translateY(501px);
    -ms-transform: translateX(80px) translateY(190px);
    transform: translateX(-475px) translateY(565px);
  }
}
.circle:nth-child(4) {
  width: 88px;
  height: 88px;
  left: 97%;
  top: 43%;
  box-shadow: inset 0 0 44px cyan;
  -webkit-animation: move4 6s infinite linear;
  -moz-animation: move4 6s infinite linear;
  -o-animation: move4 6s infinite linear;
  animation: move4 6s infinite linear;
  -webkit-animation-delay: 0.8s;
  animation-delay: 0.8s;
}
@keyframes move5 {
  25% {
    opacity: 1;
  }
  100% {
    width: 0;
    height: 0;
    opacity: 0;
    -webkit-transform: translateX(692px) translateY(-32px);
    -ms-transform: translateX(1153px) translateY(-84px);
    transform: translateX(993px) translateY(785px);
  }
}
.circle:nth-child(5) {
  width: 43px;
  height: 43px;
  left: 81%;
  top: 62%;
  box-shadow: inset 0 0 21.5px cyan;
  -webkit-animation: move5 6s infinite linear;
  -moz-animation: move5 6s infinite linear;
  -o-animation: move5 6s infinite linear;
  animation: move5 6s infinite linear;
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
}
@keyframes move6 {
  25% {
    opacity: 1;
  }
  100% {
    width: 0;
    height: 0;
    opacity: 0;
    -webkit-transform: translateX(-135px) translateY(8px);
    -ms-transform: translateX(-319px) translateY(-232px);
    transform: translateX(-279px) translateY(-141px);
  }
}
.circle:nth-child(6) {
  width: 82px;
  height: 82px;
  left: 25%;
  top: 20%;
  box-shadow: inset 0 0 41px cyan;
  -webkit-animation: move6 6s infinite linear;
  -moz-animation: move6 6s infinite linear;
  -o-animation: move6 6s infinite linear;
  animation: move6 6s infinite linear;
  -webkit-animation-delay: 1.2s;
  animation-delay: 1.2s;
}
@keyframes move7 {
  25% {
    opacity: 1;
  }
  100% {
    width: 0;
    height: 0;
    opacity: 0;
    -webkit-transform: translateX(-4px) translateY(208px);
    -ms-transform: translateX(815px) translateY(-8px);
    transform: translateX(-247px) translateY(-142px);
  }
}
.circle:nth-child(7) {
  width: 2px;
  height: 2px;
  left: 86%;
  top: 13%;
  box-shadow: inset 0 0 1px cyan;
  -webkit-animation: move7 6s infinite linear;
  -moz-animation: move7 6s infinite linear;
  -o-animation: move7 6s infinite linear;
  animation: move7 6s infinite linear;
  -webkit-animation-delay: 1.4s;
  animation-delay: 1.4s;
}
@keyframes move8 {
  25% {
    opacity: 1;
  }
  100% {
    width: 0;
    height: 0;
    opacity: 0;
    -webkit-transform: translateX(1083px) translateY(420px);
    -ms-transform: translateX(931px) translateY(183px);
    transform: translateX(76px) translateY(-15px);
  }
}
.circle:nth-child(8) {
  width: 85px;
  height: 85px;
  left: 67%;
  top: 68%;
  box-shadow: inset 0 0 42.5px cyan;
  -webkit-animation: move8 6s infinite linear;
  -moz-animation: move8 6s infinite linear;
  -o-animation: move8 6s infinite linear;
  animation: move8 6s infinite linear;
  -webkit-animation-delay: 1.6s;
  animation-delay: 1.6s;
}
@keyframes move9 {
  25% {
    opacity: 1;
  }
  100% {
    width: 0;
    height: 0;
    opacity: 0;
    -webkit-transform: translateX(1410px) translateY(726px);
    -ms-transform: translateX(594px) translateY(-649px);
    transform: translateX(526px) translateY(20px);
  }
}
.circle:nth-child(9) {
  width: 26px;
  height: 26px;
  left: 55%;
  top: 3%;
  box-shadow: inset 0 0 13px cyan;
  -webkit-animation: move9 6s infinite linear;
  -moz-animation: move9 6s infinite linear;
  -o-animation: move9 6s infinite linear;
  animation: move9 6s infinite linear;
  -webkit-animation-delay: 1.8s;
  animation-delay: 1.8s;
}
@keyframes move10 {
  25% {
    opacity: 1;
  }
  100% {
    width: 0;
    height: 0;
    opacity: 0;
    -webkit-transform: translateX(-346px) translateY(-230px);
    -ms-transform: translateX(-215px) translateY(-265px);
    transform: translateX(-129px) translateY(957px);
  }
}
.circle:nth-child(10) {
  width: 15px;
  height: 15px;
  left: 40%;
  top: 81%;
  box-shadow: inset 0 0 7.5px cyan;
  -webkit-animation: move10 6s infinite linear;
  -moz-animation: move10 6s infinite linear;
  -o-animation: move10 6s infinite linear;
  animation: move10 6s infinite linear;
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
}
@keyframes move11 {
  25% {
    opacity: 1;
  }
  100% {
    width: 0;
    height: 0;
    opacity: 0;
    -webkit-transform: translateX(86px) translateY(-70px);
    -ms-transform: translateX(-258px) translateY(-524px);
    transform: translateX(-90px) translateY(880px);
  }
}
.circle:nth-child(11) {
  width: 29px;
  height: 29px;
  left: 11%;
  top: 13%;
  box-shadow: inset 0 0 14.5px cyan;
  -webkit-animation: move11 6s infinite linear;
  -moz-animation: move11 6s infinite linear;
  -o-animation: move11 6s infinite linear;
  animation: move11 6s infinite linear;
  -webkit-animation-delay: 2.2s;
  animation-delay: 2.2s;
}
@keyframes move12 {
  25% {
    opacity: 1;
  }
  100% {
    width: 0;
    height: 0;
    opacity: 0;
    -webkit-transform: translateX(525px) translateY(-176px);
    -ms-transform: translateX(421px) translateY(69px);
    transform: translateX(-2px) translateY(-420px);
  }
}
.circle:nth-child(12) {
  width: 31px;
  height: 31px;
  left: 34%;
  top: 75%;
  box-shadow: inset 0 0 15.5px cyan;
  -webkit-animation: move12 6s infinite linear;
  -moz-animation: move12 6s infinite linear;
  -o-animation: move12 6s infinite linear;
  animation: move12 6s infinite linear;
  -webkit-animation-delay: 2.4s;
  animation-delay: 2.4s;
}
@keyframes move13 {
  25% {
    opacity: 1;
  }
  100% {
    width: 0;
    height: 0;
    opacity: 0;
    -webkit-transform: translateX(856px) translateY(-469px);
    -ms-transform: translateX(679px) translateY(-216px);
    transform: translateX(-513px) translateY(628px);
  }
}
.circle:nth-child(13) {
  width: 28px;
  height: 28px;
  left: 84%;
  top: 31%;
  box-shadow: inset 0 0 14px cyan;
  -webkit-animation: move13 6s infinite linear;
  -moz-animation: move13 6s infinite linear;
  -o-animation: move13 6s infinite linear;
  animation: move13 6s infinite linear;
  -webkit-animation-delay: 2.6s;
  animation-delay: 2.6s;
}
@keyframes move14 {
  25% {
    opacity: 1;
  }
  100% {
    width: 0;
    height: 0;
    opacity: 0;
    -webkit-transform: translateX(-138px) translateY(-122px);
    -ms-transform: translateX(-256px) translateY(562px);
    transform: translateX(302px) translateY(-501px);
  }
}
.circle:nth-child(14) {
  width: 16px;
  height: 16px;
  left: 83%;
  top: 47%;
  box-shadow: inset 0 0 8px cyan;
  -webkit-animation: move14 6s infinite linear;
  -moz-animation: move14 6s infinite linear;
  -o-animation: move14 6s infinite linear;
  animation: move14 6s infinite linear;
  -webkit-animation-delay: 2.8s;
  animation-delay: 2.8s;
}
@keyframes move15 {
  25% {
    opacity: 1;
  }
  100% {
    width: 0;
    height: 0;
    opacity: 0;
    -webkit-transform: translateX(18px) translateY(-198px);
    -ms-transform: translateX(848px) translateY(-30px);
    transform: translateX(-134px) translateY(-132px);
  }
}
.circle:nth-child(15) {
  width: 47px;
  height: 47px;
  left: 67%;
  top: 84%;
  box-shadow: inset 0 0 23.5px cyan;
  -webkit-animation: move15 6s infinite linear;
  -moz-animation: move15 6s infinite linear;
  -o-animation: move15 6s infinite linear;
  animation: move15 6s infinite linear;
  -webkit-animation-delay: 3s;
  animation-delay: 3s;
}
@keyframes move16 {
  25% {
    opacity: 1;
  }
  100% {
    width: 0;
    height: 0;
    opacity: 0;
    -webkit-transform: translateX(546px) translateY(-72px);
    -ms-transform: translateX(375px) translateY(320px);
    transform: translateX(-22px) translateY(-132px);
  }
}
.circle:nth-child(16) {
  width: 30px;
  height: 30px;
  left: 70%;
  top: 41%;
  box-shadow: inset 0 0 15px cyan;
  -webkit-animation: move16 6s infinite linear;
  -moz-animation: move16 6s infinite linear;
  -o-animation: move16 6s infinite linear;
  animation: move16 6s infinite linear;
  -webkit-animation-delay: 3.2s;
  animation-delay: 3.2s;
}
@keyframes move17 {
  25% {
    opacity: 1;
  }
  100% {
    width: 0;
    height: 0;
    opacity: 0;
    -webkit-transform: translateX(776px) translateY(834px);
    -ms-transform: translateX(603px) translateY(374px);
    transform: translateX(294px) translateY(-15px);
  }
}
.circle:nth-child(17) {
  width: 24px;
  height: 24px;
  left: 42%;
  top: 41%;
  box-shadow: inset 0 0 12px cyan;
  -webkit-animation: move17 6s infinite linear;
  -moz-animation: move17 6s infinite linear;
  -o-animation: move17 6s infinite linear;
  animation: move17 6s infinite linear;
  -webkit-animation-delay: 3.4s;
  animation-delay: 3.4s;
}
@keyframes move18 {
  25% {
    opacity: 1;
  }
  100% {
    width: 0;
    height: 0;
    opacity: 0;
    -webkit-transform: translateX(776px) translateY(855px);
    -ms-transform:translateX(-1px) translateY(-322px);
	transform: translateX(-407px) translateY(480px);
  }

}
/* 页面圆点动画 */

/* 置灰：放在html元素上就行 
  https://www.runoob.com/cssref/css3-pr-filter.html
  filter：十种特效
    grayscale     灰度 0 ~ 1
    sepia褐色     黄棕色 0 ~ 1
    saturate      饱和度 >1
    hue-rotate    色相旋转   90deg 角度
    invert        反色 0 ~ 1
    opacity       透明度
    brightness    亮度 0 ~ 1
    contrast      对比度 >1 
    blur          模糊 1px
    drop-shadow   阴影 10px 10px 2px #aaa
*/
.grayscale{
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
  filter: progid:DXImageTransform.Microsoft.BasicImage(grayscale=1);
  filter: grayscale(100%);
}
/* 置灰-end */

/* 文字渐变色 */
.textGradient{
  display:inline-block;
  font-size:40px;
  /* 渐变色 */
  background-image: linear-gradient( to right, rgb(236, 72, 153),rgb(239, 68, 68),rgb(234, 179, 8) );
  /* 取消文字颜色 */
  color:transparent;
  /* 根据文字轮廓裁切 */
  -webkit-background-clip:text;
  background-clip:text;
}
/* 文字渐变色-end */

/* Loading */
.loadingbox{position: fixed;top: 0;left: 0;right:0;bottom:0;background: linear-gradient(45deg,#222428,#444856);color: #fff;z-index: 9999;}
.loadinginside{ text-align: center;display: inline-block;position: absolute;left: 50%; top:50%; transform: translate(-50%,-60%);}
.loadingbox svg { overflow: hidden; vertical-align: middle; }
.loadingbox svg.gear { animation: svgrotate .5s infinite linear }
@keyframes svgrotate {
  0% { transform: rotate(0deg); } 
  100% { transform: rotate(45deg); }
}
.loadingbox .text-tit{margin-bottom:5px; font-size:30px;font-family: Trebuchet MS,Helvetica,sans-serif; text-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%) !important }
.loadingbox .text-muted{color: #6c757d;font-size:16px;}
/* Loading-end */

/* 骨架屏 */
.skeleton-image { background-image: linear-gradient( to right,#f6f7f8 0%,#edeef1 10%,#f6f7f8 20%,#f6f7f8 100% ); background-size: 200% 100%; animation: bgPos 1s linear infinite; }
.skeleton-text { border-radius: 50px; display: inline-block; margin: 0; height: 10px; width: 100%; }
@keyframes bgPos {
  0% { background-position: 50% 0 }
  100% {background-position: -150% 0 }
}
/* 骨架屏-end */

/* 平滑滚动 */
.scroll-smooth{
  scroll-behavior: smooth;
}
/* 平滑滚动 */

/* 
  touch-action: 用来取消浏览器默认的手势行为
  属性值：
    auto：
      默认值。完全由浏览器自己决定。
    none：
      禁止默认的拖拽行为。
    manipulation：
      只允许进行滚动和持续缩放，禁止双击缩放。
      这个设置可以完美解决移动端 click 事件 300ms 延时的问题。
    pan-x：
      仅支持横向的默认拖拽行为（禁止纵向的默认拖拽行为）。
    pan-y：
      仅支持纵向的默认拖拽行为（禁止横向的默认拖拽行为）。
    pan-up：
      仅支持从上往下的默认拖拽行为（禁止从下往上、横向的默认拖拽行为）。

    pan-down：
      仅支持从下往上的默认拖拽行为（禁止从上往下、横向的默认拖拽行为）。
    pan-left：
      仅支持从左往右的默认拖拽行为（禁止从右往左、纵向的默认拖拽行为）。
    pan-right：
      仅支持从右往左的默认拖拽行为（禁止从左往右、纵向的默认拖拽行为）。
*/
