<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="keywords" content="人生很长，无论如何，让我们保持信念：永远相信美好的事情即将发生">
  <meta name="description" content="既然这些痛苦难以回避，那我们能做的，就是直面这些痛苦，在痛苦中坚持前行，让痛苦来塑造更好的我们，这就是痛苦的意义、挫折的馈赠。而你所经历的所有挫折、失败，甚至那些看似毫无意义消磨时间的事情，都将成为你最宝贵的财富">
  <title> ￡AP︶ㄣOL◢◤LO </title>
  <link rel="shortcut icon" href="./static/img/favico.ico" type="image/x-icon">
  <link rel="stylesheet" href="./static/css/page.css" type="text/css">
</head>
<body>
<div id="app" v-cloak>
  <div @click.self="showsidebarhandle" class="nav-slide-backdrop" v-if="ismobile && showsidebar"></div>
  <div 
    @mousemove="movescrollbar" 
    @mouseleave="leavescrollbar"
    class="nav-slide-wrap" 
    :class="{'nav-slide-closewrap':!showsidebar}">
    <div class="avtarwrap">
      <img src="./static/img/avtar.jpg" class="avtar">
      <div class="username">￡AP︶ㄣOL◢◤LO</div>
    </div>
    <ul class="menu-section-list">
      <template v-for="(super_tit_item,idx) in arr_super_tit" :key="`super_tit_${idx}`">
        <li v-scroll-to="`#element_super_${idx+1}`" :class="{'active':currentfloor == `element_super_${idx+1}`}" >{{super_tit_item}}</li>
      </template>
    </ul>
  </div>
  <div class="nav-content-wrap" :class="{'nav-content-closewrap':!ismobile && !showsidebar ,'nav-content-ltME':ismobile}">
    <div class="headertopwrap">
      <div class="headertop" :class="{'headertopClose':!ismobile && !showsidebar, 'headertop-ltME':ismobile  }">
        <img @click="showsidebarhandle" :src="showsidebar ? './static/img/icon_close.png':'./static/img/icon_open.png'" class="iconOprate">
        <div class="des" v-scroll-to="`#app`">平平淡淡，随心生活；心无所贪，净土则生</div>
        <div class="scrollinebox">
          <div class="scrollineinside"></div>
        </div>
      </div>
    </div>
    <template v-for="(item,superidx) in arr_data" :key="`super_${superidx}`">
      <div class="floor-item" ref="flooritem" :id="`element_super_${superidx+1}`">
        <div class="super-tit">
          <span class="super-idx">{{superidx+1}}.</span>
          {{item.super_tit}}
        </div>
        <template v-for="(super_child_item,superchildidx) in item.super_child" :key="`super_child_${superchildidx}`">
          <div class="second-content">
            <span class="second-tit" v-if="super_child_item.second_tit">{{super_child_item.second_tit}}：</span>
            <template v-for="(second_child_item,secondchildidx) in super_child_item.second_child" :key="`second_child_${secondchildidx}`">
              <a :href="second_child_item.href" :title="second_child_item.title" target="_blank">{{second_child_item.name}}</a>
            </template>
          </div>
        </template>
      </div>
    </template>
  </div>
</div>
</body>
<script src="./static/js/vue3.js" type="text/javascript"></script>
<script src="./static/js/vue-scrollto.js" type="text/javascript"></script>
<script src="./static/js/favico.js" type="text/javascript"></script>
<script src="./static/js/data.js" type="text/javascript"></script>
<script src="./static/js/page.js" type="text/javascript"></script>
</html>